body {
  margin-top: 60px;
}

#traceback {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

textarea:-moz-placeholder {
    text-align: center;
    color: grey;
    opacity: 0.5;
    font-size: 400%;
    /*padding-top: 120px;*/
    line-height: 400%;
}

input.right {
 float: right;

}

div.right {
  padding-top: 6px;
  float: right;
  cursor: hand;
  cursor: pointer;
}
